.App {
  text-align: center;
  
  
}
.App-header {
  background-color: #222;
  background-size: 1200px;
  background-image: url("https://images.pexels.com/photos/668296/pexels-photo-668296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  padding: 20px;
  color: white;
  
}
.App-title {
  font-size: 1.5em;
  text-shadow: 3px 2px black;
  
}
.App-intro {
  font-size: large;
}
.nav-bar{
  background-color: black;
  list-style: none;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  
  
}

.nav-ul{
  list-style: none;
  background-color: black;
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}
.nav-link{
  text-decoration: none;
  color: white;
}
.nav-link:hover{
  text-decoration: underline;
  
}
.header-image{
  max-width: 100%;
  height: auto;
}

